<html>
  <head>
    <title>Erro 404 - Página não encontrada</title>
    <link rel="stylesheet" type="text/css" href="files/Error404/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Erro 404</h1>
      <p>Desculpe, a página que você está procurando não foi encontrada.</p>
      <a href="/">Voltar para a página inicial</a>
    </div>
  </body>
</html>
